<div ng-controller='registerController' id='login' class='row'>
  <div id='logheader' class='col s4 offset-s4 center-align'>
    <h1 class='uranium'>Login</h1>
    <div class='row'>
      <form ng-submit='login()'>
        <div class='input-field'>
          <input type='text' ng-model='userInfo.email'/>
          <label>Email</label>
        </div>
        <div class='input-field'>
          <input type='password' ng-model='userInfo.password'/>
          <label>Password</label>
        </div>
        <div class='input-field'>
          <button type='submit' class='btn waves-light waves-effect blue-grey darken-1'>Submit</button>
        </div>
      </form>
      <p>Need an account? <a href="#/register">Sign Up</a></p>
      <p>Or go <a href="#/">home</a>.</p>
    </div>
  </div>
</div>
